body {font-family: 'Montserrat', sans-serif;}
a:link {text-decoration: none;}
button {outline: none; cursor: pointer;}
button:focus, input:focus {outline: none;}
input {outline: none;}
p, h1, h2, h3, h4, h5, h6 {margin: 0; font-family: 'Montserrat', sans-serif; font-weight: 500;}
h1, h2, h3, h4, h5 {text-transform: uppercase;}
h1{font-size: 32px;}
.mg-t-1 {margin-top: 1em;}
.mg-t-2 {margin-top: 2em;}
.mg-t-3 {margin-top: 3em;}
.mg-t-4 {margin-top: 4em;}
.mg-t-5 {margin-top: 5em;}
.mg-t-6 {margin-top: 6em;}
.mg-t-7 {margin-top: 7em;}
.mg-t-8 {margin-top: 8em;}
.mg-t-9 {margin-top: 9em;}
.mg-t-10 {margin-top: 10em;}
.mg-b-1 {margin-bottom: 1em;}
.mg-b-2 {margin-bottom: 2em;}
.mg-b-3 {margin-bottom: 3em;}
.mg-b-4 {margin-bottom: 4em;}
.mg-b-5 {margin-bottom: 5em;}
.mg-b-6 {margin-bottom: 6em;}
.mg-b-7 {margin-bottom: 7em;}
.mg-b-8 {margin-bottom: 8em;}
.mg-b-9 {margin-bottom: 9em;}
.mg-b-10 {margin-bottom: 10em;}
.mg-tb-1 {margin: 0 1em;}
.mg-tb-2 {margin: 0 2em;}
.mg-tb-3 {margin: 0 3em;}
.mg-tb-4 {margin: 0 4em;}
.mg-tb-5 {margin: 0 5em;}
.mg-tb-6 {margin: 0 6em;}
.mg-tb-7 {margin: 0 7em;}
.mg-tb-8 {margin: 0 8em;}
.mg-tb-9 {margin: 0 9em;}
.mg-tb-10 {margin: 0 10em;}

header {height: 10vh; position: relative; z-index: 10;}
.navbar-brand.logo {
	display: flex;
	justify-content: space-around;
}
.logo img {
	max-height: 32px;
	position: relative;
	left: 13px;
}
.navbar-nav .nav-item a{
	text-transform: uppercase;
}
.nav-item a {
	font-size: 12px;
}
.navbar {
	padding: 0 72px;
	margin-top: 60px;
	background-color: transparent!important;
}
.lang ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.lang .nav-item .nav-link::after {display: none;}
.lang .nav-item .nav-link {padding: 0;}
.fx-cnt-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.navbar-nav {
	position: relative;
	margin-right: 150px;
}
.nav-item {margin: 0 17px;}
.wrap-b1 {
	padding: 67px 0 150px;
}
.wrap-b1 h1 {
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: #000000;
}
.b1-img {
	overflow: hidden;
	margin-top: 105px;
}

.navbar-light .navbar-toggler {border: none;}
#block-1 {
	position: relative;
	overflow: hidden;
}
.b1-txt {
	margin-top: 16px;
	color: #828282;
	font-size: 24px;
	font-weight: 300;
}
.btn-center {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 69px;
}
.btn-down-1 {
	position: relative;
	font-size: 24px;
	padding-left: 20px;
	color: #333333;
	font-weight: 500;
}
.btn-down-1 span{
	position: absolute;
	display: block;
	left: 0;
	top: 12px;
}
.btn-down-1 span:after, .btn-down-1 span:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.btn-down-1 span:before {
	border-top-color: #5737DE;
	border-width: 8px 4px 5px 4px;
}

.btn-down-1.white-txt.arrow-right span{
	position: absolute;
	display: block;
	left: 54px;
	top: 22px;
}
.btn-down-1.white-txt.arrow-right span:after, .btn-down-1.white-txt.arrow-right span:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.btn-down-1.white-txt.arrow-right span:before {
	border-top-color: #5737DE;
	border-width: 8px 4px 5px 4px;
}


#block-2 {
	background: radial-gradient(#241D31 0%, #0C0B0C 100%);
	position: relative;
	display: block;
	align-items: center;
	padding-top: 250px;
	padding-bottom: 276px;
	z-index: 1;
	width:100%;
}
#block-2.fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.wrap-b2-img {
	background: radial-gradient(rgba(97, 61, 251, 0.22) 0%, rgba(97, 61, 251, 0) 70%);
	text-align: center;
	padding: 80px 0;
}
.wrap-b2-img img {
	width: 100%;
	max-width: 300px;
}
.b2-h1 {
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	margin-top: 100px;
	text-align: center;
}
.b3-up h1 {
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}
.b3-up p{
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
	opacity: 0.8;
	margin-top: 16px;
}
.wrap-b2-txt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 28px;
}
.wrap-b2-txt p, .wrap-b2-txt h6 {
	color: #ffffff;
	font-weight: 400;
	line-height: 1.9;
}
.wrap-b2-txt h6 {
	font-size: 20px;
	position: relative;
}
.wrap-b2-txt p {
	opacity: .3;
	font-size: 16px;
	margin-top: 32px;
}
.wrap-b2-txt h6::before {
	content: '';
    position: absolute;
    left: -26px;
    top: -18px;
    width: 1px;
    height: 80px;
    background: radial-gradient(#613DFB 0%, rgba(97, 61, 251, 0) 60%);
}
.news-r .i-2, .news .i-2{
	margin: 80px 0;
}
.news1.active, .news2.active, .news3.active {display: flex;}
.news-r1.active, .news-r2.active {display: flex;}

.btn-down-1.white-txt {
	color: #ffffff;
	border-radius: 50px;
	border: 1px solid #613DFB;
	width: 240px;
	height: 56px;
	display: block;
	padding: 0;
	line-height: 3.2;
	margin: 74px auto 258px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 16px;
	padding-left: 14px;
	transition: .7s;
}
.btn-down-1.white-txt:hover {
	background-color: #613DFB;
}

.btn-down-1.white-txt:hover span::before{
    border-left-color: #ffffff !important;
}
#block-3 {
	background: url('/img/main/bg-b3.jpg') no-repeat center;
	background-size: cover;
	padding: 256px 0 300px; 
}
.btn-video {
	width: 160px;
	height: 160px;
	background-color: rgba(255, 255, 255, 0.4);
	position: relative;
	border-radius: 50%;
	margin: 100px auto;
}
.btn-video::before{
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #fff;
    border-width: 9px 0px 9px 15px;
    z-index: 10;
}
.btn-video::after {
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	content: '';
	position: absolute;
	width: 96px;
	height: 96px;
	background-color: #999ca1;
	border-radius: 50%;
}
.b3-txt {
	color: rgba(255, 255, 255, .7);
	font-size: 24px;
	text-align: center;
	font-weight: 300;
}
.b3-up {
	text-align: center;
	color: #ffffff;
}
.wrap-b3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}
.wrap-b3 {display: none;}
.wrap-b3 a{ opacity: 0; cursor: default;}
#block-4 {
	background: url('/img/main/bg-b4.jpg') no-repeat center;
	position: relative;
	display: none;
}
.standart-h1 {
	color: #ffffff;
	text-align: center;
	font-size: 36px;
	font-weight: 500;
	margin-top: 150px;
	letter-spacing: 0.1em;
}
.standart-h1-000 {
	color: #000000;
	text-align: center;
	font-size: 36px;
	font-weight: 500;
	margin-top: 80px;
	letter-spacing: 0.1em;
}
.logo-node-b4 {
	display: flex;
	align-items: flex-end;
}
.node-b4 {
	width: 100%;
	padding: 68px 72px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-node-b4 p {
	color: #ffffff;
	font-size: 24px;
	margin-left: -15px;
	margin-top: -3px;
	font-weight: 300;
}
.logo-node-b4 b{
	font-weight: 500;
}
.btn-down-1.white-txt.arrow-right span::before {
	border-top-color: transparent;
	border-left-color: #5737DE;
	border-width: 4px 4px 4px 8px;
	transition: 0.5s;
}
footer {
	background-color: #131213;
}
.contacts {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contacts h3{
	color: #ffffff;
	font-size: 20px;
	margin-top: 99px;
	text-transform: none;
}
.contacts a, .contacts p, .down-line p{
	color: #4F4F4F;
	font-size: 16px;
}
.contacts p {margin: 7px 0;}
.down-line {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 40px;
	margin-top: 40px;
}
.e-mail {
	width: 200px;
	height: 56px;
	border: none;
	background-color: #1A1A1A;
	padding: 0 20px;
	color: #fff;
}
.sub-btn {
	width: 170px;
	height: 56px;
	border: none;
	background-color: #2B1977;
	color: #ffffff;
	text-transform: uppercase;
	transition: 0.7s;
}
.sub-btn:hover {background-color: #613DFB;}
.footer-form {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-top: 99px;
	justify-content: flex-end;
}
.footer-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 70px;
}
.footer-menu a {
	color: #4F4F4F;
	font-size: 16px;
	margin: 0 0 14px;
}
.social {
	display: flex;
	justify-content: flex-end;
	margin-top: 25px;
}
.social a{
	margin-left: 42px;
	position: relative;
}
.subscribe {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.maps {
	margin-top: 55px;
	background: url('/img/main/shadow.png') no-repeat bottom center;
	background-size: contain;
	padding-bottom: 130px;
}
.conts {
	text-align: center;
	position: relative;
	width: 33%;
}
.conts p{
	color: #333333;
	font-size: 14px;
	font-weight: 500;
	opacity: .8;
	text-transform: uppercase;
	margin-bottom: 18px;
	letter-spacing: 0.1em;
}
.conts a {
	font-size: 20px;
	font-weight: 300;
	color: #828282 !important;
	margin-top: 18px;
}
.wrap-contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}
.conts.mid::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 36px;
	    background: radial-gradient(#613DFB -60%, rgba(97, 61, 251, 0) 60%);
	left: 0;
	top: 5px;
}
.conts.mid::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 36px;
	background: radial-gradient(#613DFB -60%, rgba(97, 61, 251, 0) 60%);
	right: 0;
	top: 5px;
}
.p-robot{
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	text-align: center;
	margin-top: 78px;
	font-size: 14px;
	opacity: .8;
	letter-spacing: 0.1em;
}
.company-f, .website-f, .name-f, .business-f, .e-mail-f, .phone-f {
	border: none;
	border-bottom: 1px solid #BDBDBD;
	width: 100%;
	max-width: 470px;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	letter-spacing: 5px;
	margin: 61px 13px 0;
}
.subject-f, .message-f {
	border: none;
	border-bottom: 1px solid #BDBDBD;
	width: 100%;
	max-width: 970px;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	letter-spacing: 5px;
	margin: 61px 13px 0;
}
.wrap-partners form{
	text-align: center;
}
.wrap-partners .standart-h1-000 {
	line-height: 1.8;
	margin-top: 143px;
}
.contacts-form span {
	
}
.contacts-form p{
	color: #333333;
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.6;
	max-width: 970px;
	border-bottom: 1px solid #BDBDBD;
	margin: 20px auto 0;
}

/* Скрываем реальный чекбокс */
.checkbox {
	display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
	position: absolute;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
	width: 16px;             /* Обязательно задаем ширину */
	height: 16px;            /* Обязательно задаем высоту */
	border: 1px solid #613DFB;
	border-radius: 50%;
	left: -25px;
	top: 4px;
	cursor: pointer;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom, .label {
	display: block;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
	content: "";             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	/* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	border-radius: 50%;
	background: #613DFB;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
}
.check-f {
	position: relative;
	margin-top: 60px;
	cursor: pointer;
}
.send-f {
	display: block;
	margin: auto;
	width: 370px;
	height: 80px;
	background-color: transparent;
	border: 1px solid #613DFB;
	border-radius: 50px;
	outline: none;
	margin-top: 55px;
	margin-bottom: 100px;
	position: relative;
	transition: .7s;
}
.send-f:hover {
	background-color: #2B1977;
	color: #ffffff;
}
.popup-form .send-f:hover::before {
	border-left-color: #ffffff;
}
.send-f:hover .popup-form .send-f::before{
	    border-left-color: #ffffff;
}
.send-f:hover::before {
	border-left-color: #ffffff;
}
.mes-form {
	display: block;
	color: #333333;
	opacity: 0.7;
	font-weight: 500;
	font-size: 14px;
	margin-top: 70px;	
}

.navbar-brand.logo.white-txt {
	color: #ffffff;
}
.navbar-nav.white-txt .nav-link {
	color: #ffffff;
	opacity: 0.8;
	letter-spacing: 0.1em;
}
.bg-header {
	margin-top: 0;
	padding: 60px 72px 0;
}

#eon-b1 {
	background: radial-gradient(#241D31 0%, #0C0B0C 100%);
}
.wrap-eon {

}
.wrap-eon p{
	color: #ffffff;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	margin-top: 25px;
	opacity: .3;
}
.main-img-eon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 145px;
}
.btn-eon {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	position: relative;
	border: 1px solid transparent;
	border-radius: 50px;
	padding: 0 55px;
	line-height: 4;
	transition: .5s ease-in-out;
	border: 1px solid #5737DE;
	border-radius: 50px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	letter-spacing: -0.05em;
	outline: none;
}
.btn-eon:hover {
	background-color: #613DFB;
	color: #ffffff;
}
.btn-eon.active:hover {
	background-color: #613DFB;
	color: #ffffff;
}
.btn-eon::before {
	content: '';
	position: absolute;
	left: 33px;
	top: 28px;
	border: solid transparent;
	pointer-events: none;
	border-left-color: #5737DE;
	border-width: 4px 0px 4px 11px;
}
/*
.btn-eon.active {
	border: 1px solid #5737DE;
	border-radius: 50px;
	background-color: #2B1977;
}*/
.eon-main-center {
	position: relative;
}
.eon-main-center img {
	position: relative;
	left: 15px;
}
.eon-main-center::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -105px;
	margin-left: 80px;
	width: 258px;
	height: 60px;
	background: url('/img/main/shadow-eon-black.png') no-repeat bottom;
}
.eon-txt {
	text-align: center;
	position: relative;
}
.eon-txt p{
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 500;
	margin-top: 170px;
	letter-spacing: 0.1em;
}
.eon-txt span {
	margin-top: 80px;
	display: block;
	line-height: 1.9;
	font-weight: 300;
	color: #ffffff;
	opacity: .3;
	padding-bottom: 109px; 
}
.eon-txt p::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	margin: auto;
	width: 112px;
	height: 1px;
	background: radial-gradient(#613DFB 0%, rgba(97, 61, 251, 0) 60%);
}
.wrap-eon-b1 {
	width: 378px;
	height: 378px;
	max-width: 378px;
	max-height: 378px;
	margin: auto;
}
.wrap-eon-b2 {
	max-width: 378px;
	width: 100%;
	height: 100%;
	max-height: 378px;
	position: relative;
	margin: auto;
}
.wrap-eon-b1 img {
	width: 100%;
	height: auto;
}
.wrap-eon-b2 img{
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.wrap-eon-txt {
	display: none;
	position: relative;
}
.wrap-eon-txt p{
	color: #333333;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin-top: 78px;
	padding-top: 18px;
}
.wrap-eon-txt::before {
	content: '';
	position: absolute;
	width: 112px;
	height: 1px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #BDBDBD;
}
.article {
	text-align: center;
	width: 28%;
	margin: 50px 0;
}
.article p{
	color: #333333;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.article span{
	display: block;
	color: #333333;
	font-size: 16px;
	font-weight: 300;
	margin-top: 18px;
	line-height: 1.9;
}
.wrap-articles {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 140px;
	position: relative;
}
.wrap-articles::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 522px;
	left: 354px;
	background-color: #E0E0E0;
	top: 50px;
}
.wrap-articles::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 522px;
	right: 354px;
	background-color: #E0E0E0;
	top: 50px;
}
.article img {
	margin: 15px;
}
.article.article-last {
	width: 100%;
	margin-bottom: 230px;	
}
.careers-txt {
	color: #333333;
	opacity: .8;
	font-weight: 300;
	text-align: center;
	font-size: 16px;
	line-height: 1.9;
}
.line-purple::before {
	content: '';
	display: block;
	position: absolute;
	width: 112px;
	height: 2px;
	top: 150px;
	left: 0;
	right: 0;
	margin: auto;
	background: radial-gradient(#613DFB -60%, rgba(97, 61, 251, 0) 91%);
}
.careers {position: relative; text-align: center; height: 100%;}
.list-none {
	display: none;
}
.car-txt-1 {
	letter-spacing: 1px;
	color: #333333;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}
.careers-ul {
	list-style: none;
	padding: 0;
	margin-top: 40px;
}
.careers-ul li{
	color: #333333;
	font-size: 24px;
	font-weight: 300;
	opacity: .8;
	border-bottom: 1px solid #BDBDBD;
	max-width: 770px;
	margin: 10px auto;
	padding: 15px;
	position: relative;
	cursor: pointer;
}
.careers-ul li::before {
	content: '';
    position: absolute;
    right: 33px;
    top: 28px;
    border: solid transparent;
    pointer-events: none;
    border-top-color: #5737DE;
    border-width: 8px 4px 8px 4px;
}
.careers-ul li.active::before {
	content: '';
    position: absolute;
    right: 33px;
    top: 19px;
    border: solid transparent;
    pointer-events: none;
    border-bottom-color: #5737DE;
    border-width: 8px 4px 8px 4px;	
}
.careers-ul li.active {
	border-bottom: none;
}
li.active .list-none {
	display: block;
}
.list-none {
	list-style: none;
}
.list-none li {
	border-bottom: none;
	color: #333333;
	opacity: 1;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.9;
}
.list-none li::before {display: none;}

.company {position: relative; margin: auto;}
.company .careers-txt {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
}
.wrap-img-team {
	max-width: 370px;
	max-height: 370px;
	overflow: hidden;
}
.man {
	text-align: center;
	width: 30%;
	margin: 50px 15px;
}
.man .team-name{
	letter-spacing: 0.1em;
	color: #333333;
	font-size: 14px;
	font-weight: 500;
	margin-top: 22px;
}
.man span {
	font-size: 12px;
	color: #333333;
	font-weight: 300;
	opacity: 0.8;
	display: block;
	margin: 23px 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: 'Roboto Mono', monospace;
}
.man p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.9;
}
.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#tech {
	background-image: radial-gradient(#241D31 0%, #0C0B0C 100%);
}
#tech::after {
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	bottom: 0;
	margin: auto;
	width: 100%;
	max-width: 624px;
	max-height: 624px;
	background: url('/img/main/right-circle.png') no-repeat center right;
	background-size: contain;
	z-index: 0;
}
#tech::before {
	content: '';
	position: absolute;
	left: 0;
	top: -50px;
	bottom: 0;
	margin: auto;
	width: 100%;
	max-width: 624px;
	max-height: 624px;
	background: url('/img/main/left-circle.png') no-repeat center left;
	background-size: contain;
	z-index: 0;
}
.bg-tech {
	background: url('/img/main/line-1.png') no-repeat center;
	position: absolute;
	width: 100%;
	height: 100%;
}
.bg-tech::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	background: url('/img/main/line-2.png') no-repeat center top 350px;
	background-size: contain;
	z-index: 0;
}
.bg-tech::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: auto;
	background: url('/img/main/line-3.png') no-repeat left -100px top 170px;
	background-size: cover;
	z-index: 0;
}
	
.wrap-tech {
	margin-top: 100px;
	text-align: center;
	position: relative;
}
.wrap-tech p {
	font-weight: 300;
	color: rgba(255, 255, 255, .3);
	line-height: 1.9;
	text-align: left;
	margin: 10px 0;
}
.wrap-tech ul {text-align: left;padding-left: 20px;}
.wrap-tech li {color: rgba(255, 255, 255, .3);font-size: 16px;}
.wrap-tech span{
	display: block;
	font-weight: 500;
	color: rgba(255, 255, 255, .7);
}
.wrap-tech .line-purple::before {
	top: -50px;
	height: 1px;
}
.wrap-tech img {
	margin-top: 100px;
	margin-bottom: 75px;
}
.how_circle {
	border: 1px solid rgba(97, 61, 251, 0);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	position: relative;
	margin: 35px -45px 0;
}
.how_circle::before {
	content: '';
	position: absolute;
	width: 106px;
	height: 106px;
	border-radius: 50%;
	left: -31px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid rgba(97, 61, 251, .5);
	display: none;
}
.how_circle::after {
	content: '';
	position: absolute;
	width: 176px;
	height: 176px;
	border-radius: 50%;
	left: -66px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid rgba(97, 61, 251, .2);
	display: none;
}
.how_circle i::before {
	content: '';
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	left: -103px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid rgba(97, 61, 251, .2);
	display: none;
}
.wrap-circle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.how_it {margin-bottom: 40px;}
.how_it p {
	font-weight: 400;
	color: rgba(51, 51, 51, .7);
	line-height: 1.9;
	margin:15px 0;
	font-size: 16px;
}
.tech-b3 h5{
	font-size: 24px;
	font-weight: 500;
	color: #ffffff;
	text-transform: none;
	max-width: 1190px;
	margin: auto;
	padding-top: 380px;
}
.tech-b3 p{
	font-size: 16px;
	font-weight: 300;
	color: rgba(255, 255, 255, .7);
	line-height: 1.9;
	max-width: 1190px;
	margin: auto;
	margin-top: 28px;
}
#tech-b3-vh {
	background-color: #000000;
	overflow: hidden;
}
.wrap-tech-b3 {
	position: relative;
}
#tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7  {display: none;}
.tech-b3 {
	height: 980px;
}
.tech-b3.bg-1{
	background: url('/img/main/bg-1.jpg') no-repeat center;
	background-size: cover;
}
.tech-b3.bg-2{
	background: url('/img/main/bg-2.jpg') no-repeat center;
	background-size: cover;
}
.tech-b3.bg-3{
	background: url('/img/main/bg-3.jpg') no-repeat center;
	background-size: cover;
}
.tech-b3.bg-4{
	background: url('/img/main/bg-4.jpg') no-repeat center;
	background-size: cover;
}
.tech-b3.bg-5{
	background: url('/img/main/bg-5.jpg') no-repeat center;
	background-size: cover;
}
.tech-b3.bg-6{
	background: url('/img/main/bg-6.jpg') no-repeat center;
	background-size: cover;
}
.tech-b3.bg-7{
	background: url('/img/main/bg-7.jpg') no-repeat center;
	background-size: cover;
}
.pdg-0 {padding: 0;}
.block-menu {
	width: 100%;
	max-width: 1190px;
	background-color: rgba(255, 255, 255, 0.04);
	border-radius: 50px;
	position: absolute;
	bottom: 120px;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.block-menu a{
	color: #ffffff;
	font-size: 14px;
	padding: 25px 48px;
	display: block;
	position: relative;
	font-family: 'Roboto Mono', monospace;
}
.tab-box li {
	position: relative;
	transition: 0.7s;
}
.tab-box li::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 26px;
	right: -3px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: radial-gradient(#ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.tab-box {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
}
.tab-box li:hover {
	background-color: #2B1977;
}
.tab-box li:first-child:hover {
	border-radius: 50px 0 0 50px;
}
.tab-box li:last-child:hover {
	border-radius: 0 50px 50px 0;
}
.tab-box li:last-child::before {
	display: none;
}
.tab-box a.active {
	background-color: #2B1977;
}
.f-li-a.active {
	border-radius: 50px 0 0 50px;
}
.l-li-a.active {
	border-radius: 0 50px 50px 0;
}
.t-item {
	width: 30%;
	text-align: center;
	margin: 50px 0;
}
.t-item p{
	color: #4F4F4F;
	line-height: 1.9;
	letter-spacing: 2px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 35px;
	letter-spacing: 0.1em;
}
.tech-b4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
.btn-md-open {display: none;}
.fb-hov {
	transition: .3s;
}
.fb-hov::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	background: url('/img/icons/fb-p.png') no-repeat;
	background-size: 24px 24px;
	background-position: 0 1px;
	opacity: 0;
	transition: .3s;
}
.fb-hov:hover img {
	opacity: 0;
	transition: .3s;
}
.fb-hov:hover::before{
	opacity: 1;
}

.twit-hov::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 26px;
	background: url('/img/icons/twit-p.svg') no-repeat;
	background-size: 24px 24px;
	background-position: 0 1px;
	opacity: 0;
	transition: .3s;
}
.twit-hov:hover img {
	opacity: 0;
	transition: .3s;
}
.twit-hov:hover::before{
	opacity: 1;
}

.inst-hov::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 26px;
	background: url('/img/icons/inst-p.svg') no-repeat;
	background-size: 24px 24px;
	background-position: 0 1px;
	opacity: 0;
	transition: .3s;
}
.inst-hov:hover img {
	opacity: 0;
	transition: .3s;
}
.inst-hov:hover::before{
	opacity: 1;
}

.mail-hov::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 26px;
	background: url('/img/icons/mail-p.svg') no-repeat;
	background-size: 24px 24px;
	background-position: 0 1px;
	opacity: 0;
	transition: .3s;
}
.mail-hov:hover img {
	opacity: 0;
	transition: .3s;
}
.mail-hov:hover::before{
	opacity: 1;
}
.footer-menu a:hover {
	color: #2B1977;
	transition: .2s;
}
.how_circle img{
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.wrap-md-txt {display: none;}
.careers a{
	color: rgba(19, 19, 19, .7);
}
.last-careers p{color: rgba(61, 61, 61, .7);}
.last-careers {margin: 60px 0 80px;}
.bg-gray {
	background-color: #F7F4FD;
	width: 100%;
	max-width: 973px;
	margin: auto;
}
.navbar-gray {
	background-color: #E5E5E5!important;
}
.popup-form-wrap {
	max-width: 768px;
	width: 100%;
	max-height: 488px;
	background-color: #F7F4FD;
	text-align: center;
}
.popup-form-wrap h2 {
	color: #333333;
	font-size: 14px;
	margin-top: 10px;
	opacity: .8;
	letter-spacing: 0.1em;
	font-family: 'Roboto Mono', monospace;
}
.popup-form-wrap p {
	color: #333333;
	opacity: .7;
	font-size: 14px;
	margin-top: 27px;
	font-weight: 300;
}

.popup-form-mail .send-f {
	margin: 40px auto 0;
	width: 218px;
	height: 56px;
	font-family: 'Roboto Mono', monospace;
}
.popup-form-mail .check-f {
	margin: 25px 50px 0;
}

.popup-form .send-f {
	margin: 40px auto 0;
	width: 218px;
	height: 56px;
	font-family: 'Roboto Mono', monospace;
}
.popup-form .check-f {
	margin: 25px 50px 0;
}
.send-f::before {
    content: '';
    position: absolute;
    border: solid transparent;
    pointer-events: none;
    left: 40%;
    top: 35px;
    border-left-color: #5737DE;
    border-width: 4px 4px 4px 8px;
    transition: 0.5s;
}
.popup-form-mail .send-f::before, .popup-form .send-f::before {
    content: '';
    position: absolute;
    border: solid transparent;
    pointer-events: none;
    left: 27%;
    top: 24px;
    border-left-color: #5737DE;
    border-width: 4px 4px 4px 8px;
    transition: 0.5s;
}
.card {display: none;}

@keyframes first {
	0% {width: 40px; height: 40px; border-color: 1px solid rgba(97, 61, 251, .8);}
	10% {width: 60px; height: 60px; border-color: 1px solid rgba(97, 61, 251, .8);}
	20% { width: 80px; height: 80px; border-color: 1px solid rgba(97, 61, 251, .8);}
	30% {width: 100px; height: 100px;border-color: 1px solid rgba(97, 61, 251, .8);}
	40% {width: 120px; height: 120px;border-color: 1px solid rgba(97, 61, 251, .8);}
	50% {width: 140px; height: 140px;border-color: 1px solid rgba(97, 61, 251, .8);}
	60% {width: 160px; height: 160px;border-color: 1px solid rgba(97, 61, 251, .6);}
	70% {width: 180px; height: 180px;border-color: 1px solid rgba(97, 61, 251, .4);}
	80% {width: 200px; height: 200px;border-color: 1px solid rgba(97, 61, 251, .2);}
	90% {width: 220px; height: 220px;border-color: 1px solid rgba(97, 61, 251, .8);}
	100% {width: 260px; height: 260px; opacity: 0;}
}


.how_circle i {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.how_circle i {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	border: 1px solid rgba(97, 61, 251, 1);
	animation: first 2s infinite;
	animation-timing-function: linear;

}

.how_circle i:nth-child(2) {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	border: 1px solid rgba(97, 61, 251, 1);
	animation: second 2s infinite;
	animation-timing-function: linear;
	animation-delay: .5s;
}
.how_circle i:nth-child(3) {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	border: 1px solid rgba(97, 61, 251, 1);
	animation: third 2s infinite;
	animation-timing-function: linear;
	animation-delay: 1s;
}
.how_circle i:nth-child(4) {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	border: 1px solid rgba(97, 61, 251, 1);
	animation: fouth 2s infinite;
	animation-delay: 2.5s;
	animation-timing-function: linear;
}

@keyframes second {
	0% {width: 40px; height: 40px; border-color: 1px solid rgba(97, 61, 251, .8);}
	10% {width: 60px; height: 60px; border-color: 1px solid rgba(97, 61, 251, .8);}
	20% { width: 80px; height: 80px; border-color: 1px solid rgba(97, 61, 251, .8);}
	30% {width: 100px; height: 100px;border-color: 1px solid rgba(97, 61, 251, .8);}
	40% {width: 120px; height: 120px;border-color: 1px solid rgba(97, 61, 251, .8);}
	50% {width: 140px; height: 140px;border-color: 1px solid rgba(97, 61, 251, .8);}
	60% {width: 160px; height: 160px;border-color: 1px solid rgba(97, 61, 251, .6);}
	70% {width: 180px; height: 180px;border-color: 1px solid rgba(97, 61, 251, .4);}
	80% {width: 200px; height: 200px;border-color: 1px solid rgba(97, 61, 251, .2);}
	90% {width: 220px; height: 220px;border-color: 1px solid rgba(97, 61, 251, .8);}
	100% {width: 260px; height: 260px; opacity: 0;}
}


@keyframes third {
	0% {width: 40px; height: 40px; border-color: 1px solid rgba(97, 61, 251, .8);}
	10% {width: 60px; height: 60px; border-color: 1px solid rgba(97, 61, 251, .8);}
	20% { width: 80px; height: 80px; border-color: 1px solid rgba(97, 61, 251, .8);}
	30% {width: 100px; height: 100px;border-color: 1px solid rgba(97, 61, 251, .8);}
	40% {width: 120px; height: 120px;border-color: 1px solid rgba(97, 61, 251, .8);}
	50% {width: 140px; height: 140px;border-color: 1px solid rgba(97, 61, 251, .8);}
	60% {width: 160px; height: 160px;border-color: 1px solid rgba(97, 61, 251, .6);}
	70% {width: 180px; height: 180px;border-color: 1px solid rgba(97, 61, 251, .4);}
	80% {width: 200px; height: 200px;border-color: 1px solid rgba(97, 61, 251, .2);}
	90% {width: 220px; height: 220px;border-color: 1px solid rgba(97, 61, 251, .8);}
	100% {width: 260px; height: 260px; opacity: 0;}
}


@keyframes fouth {
	0% {width: 40px; height: 40px; border-color: 1px solid rgba(97, 61, 251, .8);}
	10% {width: 60px; height: 60px; border-color: 1px solid rgba(97, 61, 251, .8);}
	20% { width: 80px; height: 80px; border-color: 1px solid rgba(97, 61, 251, .8);}
	30% {width: 100px; height: 100px;border-color: 1px solid rgba(97, 61, 251, .8);}
	40% {width: 120px; height: 120px;border-color: 1px solid rgba(97, 61, 251, .8);}
	50% {width: 140px; height: 140px;border-color: 1px solid rgba(97, 61, 251, .8);}
	60% {width: 160px; height: 160px;border-color: 1px solid rgba(97, 61, 251, .6);}
	70% {width: 180px; height: 180px;border-color: 1px solid rgba(97, 61, 251, .4);}
	80% {width: 200px; height: 200px;border-color: 1px solid rgba(97, 61, 251, .2);}
	90% {width: 240px; height: 240px;border-color: 1px solid rgba(97, 61, 251, .8);}
	100% {width: 260px; height: 260px; opacity: 0;}
}

.stop-scrolling {height: 100%;overflow: hidden;padding-right: 20px;}



.lang .nav-link {color: rgba(0,0,0,.5); font-size: 12px; font-family: 'Montserrat', sans-serif; text-transform: uppercase;}


.foo-menu h3{ color: #ffffff; font-size: 20px; margin-top: 99px; text-transform: none;}
.contacts p:nth-child(2) {margin-top: 70px;}
.contacts.f1 {justify-content: flex-start;}
.social img {width: 24px; height: 24px;}

.navbar-nav {width: 100%; display: flex; justify-content: center;}
.navbar-nav ul {width: 100%; text-align: center;}
#eon-b1 header {background-color: transparent;}
#tech .standart-h1 {margin-top: 200px;}
.how_it .standart-h1-000 {margin-top: 130px;}
#tech-b4 .standart-h1-000 {margin-top: 168px;}
.tech-b4.mg-t-6 {margin-bottom: 120px;}
.navbar-light .navbar-nav .nav-link {
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #333333;
	opacity: 0.8;
}
.wrap-circle {display: none;}
.wrap_waves {    
	max-height: 275px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.invalid_text_field {border: 1px solid red;}

#block-2 {position: relative; max-height: 1380px;}

#par-1 {
	
}

.news {
	margin-bottom: 200px;
}
.news-r {margin-top: 100px;}
.how_block {background: #fcfcff;}





/***********new***************/
.plashka .b2-h1 {
	top: 110px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 99;
}
.wrap-b2-img {
	
}

.plashka {
	left: 0;
	right: 0;
	margin: auto;
}
#par-4 {
	margin-top: 200px;
}
#par-1, #par-4 {
	
}